<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fika.fika_project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:name="com.fika.fika_project.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FIKA_Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.fika.fika_project.ui.main.mycourse.CourseInfoEditActivity"
            android:exported="false" />
        <activity
            android:name="com.fika.fika_project.ui.main.explore.drama_info.LargeMapActivity"
            android:exported="false" />
        <activity
            android:name="com.fika.fika_project.ui.main.explore.CourseDetailDramaOthers"
            android:exported="false" />
        <activity
            android:name="com.fika.fika_project.ui.main.mycourse.ReviewWriteActivity"
            android:exported="false" />
        <activity
            android:name="com.fika.fika_project.ui.main.mycourse.visit_course.VisitCompleteCourse"
            android:exported="false" />
        <activity
            android:name="com.fika.fika_project.ui.main.home.search.SearchResultActivity"
            android:exported="false" />

        <activity
            android:name="com.fika.fika_project.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.fika.fika_project.ui.main.MainActivity" />
        <activity android:name="com.fika.fika_project.ui.login.LoginActivity" />
        <activity android:name="com.fika.fika_project.ui.main.home.search.SearchActivity" />
        <activity android:name="com.fika.fika_project.ui.main.mycourse.course_edit.MyCourseViewActivity" />
        <activity android:name="com.fika.fika_project.ui.main.explore.FolderSelectActivity" />
        <activity android:name="com.fika.fika_project.ui.main.explore.CourseDetailDrama" />
        <activity android:name="com.fika.fika_project.ui.main.explore.drama_info.DramaInfoActivity" />
        <activity android:name="com.fika.fika_project.ui.main.mycourse.course_edit.add_location.MyHoldLocationActivity" />
        <activity android:name="com.fika.fika_project.ui.main.mycourse.placeinfo.PlaceinfoActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_key" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="8f19d7b7c42cc6b338c1a0abda3e3b93" />
    </application>
</manifest>